.title {
    color: blue;
    font-size: 69px;
    background-color: cadetblue;
    border: 10px solid blueviolet;
    text-align: center;
}

.nice{
    color: rgb(420, 69, 34);
    font-size: x-large;
    
}